<!DOCTYPE html>
<html>
  <head>
    <title>Tambah Mahasiswa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h2>Tambah Mahasiswa</h2>
    <form action="/mahasiswa/simpan" method="POST">
      <input type="text" name="nama" placeholder="Nama" required />
      <input type="text" name="nim" placeholder="NIM" required />
      <input type="text" name="jurusan" placeholder="Jurusan" required />
      <button type="submit">Simpan</button>
    </form>
  </body>
</html>
